@mixin fullabsolute($left,$top,$w,$h,$zindex){
  position: absolute;
  left: $left;
  top: $top;
  z-index: $zindex;
  @include size($w,$h);
}

/*Common setting for all page*/
html,body{
  width: 100%;
  height: 100%;
}
body{
  background: url("../images/bg.png") center center no-repeat;
  background-size: cover;
}

//for preload
.preload{
  @include fullabsolute(0,0,100%,100%,100);
  background: url("../images/preload-bg.jpg") center center no-repeat;
  background-size: cover;
  .animate-flower{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    @include transition(opacity 4s linear);
    background: url("../images/preload-flower.jpg")  center center no-repeat;
    background-size: cover;
    &.fadenow{
      opacity: 1;
    }
  }
  .loading-num{
    position: absolute;
    right: 2.8rem;
    bottom: 10vh;
    width: 1.2rem;
    height: 0.6rem;
    @include transform(rotate(90deg));
    .num{
      width: .6rem;
      height: .6rem;
      display: inline-block;
      text-align: center;
    }
  }
}

.logo{
  @include size(1.94rem,0.47rem);
  margin: 0.5rem auto;
}

//for terms-pop
.terms-pop{
  background: rgba(77,56,72,0.4) url("../images/form-bg.png") no-repeat;
  background-size: 100% 100%;
  .inner{
    @include size(7.5rem,10.79rem);
    background: transparent;
    box-sizing: border-box;
    padding-top: 1rem;
    background-position: -0.05rem 0;
  }
  .title{
    background: transparent;
    color: #9eaee5;
    font-size: 0.52rem;
    padding: 0;
  }
  .pcontent{
    width: 6rem;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    .subtitle{
      display: inline-block;
      background: #ebb5e0;
      color: #99578a;
      font-size: 0.3rem;
      font-weight: normal;
      padding: 0.04rem 0.2rem;
      border-radius: 5px;
      margin-bottom: 0.1rem;
    }
    .des{
      color: #713463;
      font-size: 0.24rem;
      line-height: 1.8;
    }
    .product-name{
      color: #6b6b6b;
      font-size: 0.22rem;
    }
  }
  .btn-close{
    top: auto;
    bottom: 1rem;
    left: 50%;
    background: #ebb5e0;
    border-radius: 100%;
    @include size(0.6rem,0.6rem);
  }
  .tips{
    color: #713463;
    font-size: 0.22rem;
  }
}

.pin{
  opacity: 0;
  z-index: -10;
  position: absolute;
  left: 0;
  bottom: 0;
  @include size(100%,100%);
  box-sizing: border-box;
  overflow: hidden;
  @include transition(opacity 1s);
  //display: none;
  &.current{
    display: block;
    opacity: 1;
    z-index: 1;
  }
}


.btn{
  text-align: center;
  display: block;
  width: 3.91rem;
  height: 1.02rem;
  margin: 0 auto;
  color: #fff;
  font-size: 0.32rem;
  box-sizing: border-box;
}

//for loading
.loading-wrap{
  display: none;
}

//for wrapper
.wrapper{
  opacity: 0;
  @include fullabsolute(0,0,100%,100%,1);
  &.fade{
   opacity: 1;
  }
}

//for border frame
.border-frame{
  @include fullabsolute(0,0,100vw,100vh,5);
  .bf{
    @include fullabsolute(0,0,100vw,100vh,1);
    box-sizing: border-box;
    border-image: -webkit-linear-gradient(-45deg,#9ea4df, #9ea3de,#c4c7eb) 30 30;
    border-image: -moz-linear-gradient(-45deg,#9ea4df, #9ea3de,#c4c7eb) 30 30;
    border-image: linear-gradient(-45deg,#9ea4df, #9ea3de,#c4c7eb) 30 30;
    border-style: solid;
    border-width: 2px;
    &.bf-2{
      @include fullabsolute(4px,4px,calc(100vw - 8px),calc(100vh - 8px),1);
    }
    &.bf-3{
      @include fullabsolute(8px,8px,calc(100vw - 16px),calc(100vh - 16px),1);
    }
  }
}



//for pin-landing
#pin-landing{
  .p1-1{
    position: relative;
    padding-top: 0.2rem;
    height: calc(100vh - 2rem);
    img{
      position: relative;
      z-index: 1;
      width: auto;
      height: 100%;
      max-height: 10.38rem;
      margin: 0 auto;
    }
    .btn-playvideo{
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 2;
      @include size(0.98rem,0.98rem);
      @include transform(translate(-50%,-50%));
      background-image: url('../images/btn-play.png');
      background-size: contain;
    }
  }
  .btn-go{
    background-image: url('../images/btn-lookup.png');
    background-size: contain;
    text-indent: -999em;
    background-color: transparent;
  }
  .link-rule{
    width: 3.91rem;
    margin: 0 auto;
    text-align: center;
    font-size: 0.28rem;
    color: #292929;
    text-decoration: underline;
  }
}


/*
  For pin-fillform
*/
#pin-fillform{
  background: url("../images/form-bg.png") no-repeat;
  background-size: 100% 100%;
  color: #99578a;
  .logo{
    margin-top: 1rem;
    margin-bottom: 0.39rem;
  }
  .msgbox{
    position: absolute;
    top: 0;
    width: 100%;
    height: 1rem;
    text-align: center;
    line-height: 1rem;
    background: rgba(0,0,0,0.8);
    color: #fff;
  }
  .title{
    font-size: 0.26rem;
    color: #99578a;
    text-align: center;
    margin: .3rem auto .6rem;
    strong{
      font-size: 0.38rem;
      letter-spacing: 2px;
    }
  }
  .tips{
    font-size: 0.16rem;
    color: #99578a;
    text-align: center;
  }
  #form-contact{
    position: relative;
    z-index: 2;
    width: 6rem;
    margin: 0 auto;
    font-size: 0.26rem;
    color: #6b6b6b;
    .input-box{
      position: relative;
      margin-bottom: 0.2rem;
      height: 0.6rem;
      //background: #999;
      input[type="text"],
      input[type="tel"],
      select{
        display: inline-block;
        width: 100%;
        padding: 0;
        height: 0.6rem;
        line-height: 0.6rem;
        font-size: 0.26rem;
        text-align: left;
        border: #8b5890 1px solid;
        background: transparent;
        color: #7e4983;
        //border-bottom: #a4b3e7 1px solid;
        //mask-image: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 15%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 85%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        //-webkit-mask-image: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 15%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 85%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */;
        //-webkit-mask-image: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 15%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 85%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
      }
      input[type="text"],
      input[type="tel"]{
        padding-left: 1.4rem;
        box-sizing: border-box;
      }
      label{
        position: absolute;
        left: 0;
        top: 0.15rem;
        width: 1.2rem;
        height: 0.3rem;
        line-height: 0.3rem;
        font-size: 0.26rem;
        text-align: center;
        border-right: #8b5890 1px solid;
        color: #7e4983;
        padding-right: 0;
      }
    }
    .select-box{
      position: relative;
      input[type="text"]{
        position: relative;
        z-index: 1;
        background: red;
        background: url("../images/arrow-down.png") right center no-repeat;
        background-size: 0.3rem;
      }
      select{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        opacity: 0;
      }
      &.select-box-2{
        position: absolute;
        right: 0;
        top: 0;
      }
    }
    .input-box-city-district{
      .select-box{
        display: inline-block;
        width: 48%;
      }
    }
    .btn-submit{
      margin-top: 0.2rem;
      background: url("../images/btn-submit.png") no-repeat;
      background-size: 100%;
      text-indent: -999em;
    }
    .input-box-validate-code{
      margin-bottom: 0.5rem;
      #input-validate-code{
        width: 3.5rem;
        display: inline-block;
        margin-right: 0.2rem;
      }
      .validate-code{
        position: absolute;
        right: 0;
        top: 0;
        width: 2.1rem;
        display: inline-block;
        text-align: center;
        span{
          display: block;
        }
      }
      .validate-code-img{
        //width:2rem;
        //margin: 0 auto;
        height: 0.6rem;
        img{
          height: 100%;
        }
      }
      .code-text{
        position: absolute;
        bottom: -0.4rem;
        width: 100%;
        color: #686c6d;
        font-size: 0.18rem;
      }
    }
    .input-box-validate-message-code{
      #input-validate-message-code{
        width: 3.5rem;
        margin-right: 0.2rem;
        display: inline-block;
      }
      .btn-get-msg-code{
        position: absolute;
        right: 0;
        top: 0;
        width: 2.1rem;
        display: inline-block;
        font-size: .26rem;
        background-size: 100% 100%;
        height: 0.6rem;
        line-height: 0.6rem;
        text-align: center;
        background: #ebb5e0;
        color: #99578a;
        //padding-top: 0.12rem;
        //padding-left: 0.14rem;
        box-sizing: border-box;
        span{
          display: inline-block;
          font-size: 0.2rem;
        }
      }
    }
  }
  .foreground{
    position: absolute;
    left: 0.7rem;
    z-index: 1;
    bottom: -1.2rem;
    @include size(5.52rem,4.57rem);
  }
}

//for pin-gift
#pin-result{
  background: url(../images/form-bg.png) no-repeat;
  background-size: 100% 100%;
  .logo{
    margin-top: 1rem;
  }
  .v-content{
    width: 100%;
  }
  .title{
    color: #99578a;
    font-size: 0.4rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: center;
  }
  .des{
    text-align: center;
    font-size: 0.26rem;
    color: #99578a;
  }
  .qrcode{
    @include size(2.84rem,2.85rem);
    margin: 0.7rem auto 0;
  }
  .btn-back{
    position: absolute;
    bottom: 1.2rem;
    left: 50%;
    @include size(3.91rem,1.02rem);
    margin-left: -2rem;
  }
}
.guide-share{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;

}

//for share-popup
.share-popup{
  .right-star{
    right: 0.7rem;
    top: 0.7rem;
    //@include size(1.1rem,1.04rem);
  }
  .des{
    padding-top: 0.8rem;
    text-align: center;
    font-size: 0.26rem;
    color: #fff;
    .bigfont{
      display: block;
      font-size: 0.32rem;
      margin-bottom: 0.2rem;
    }
  }
}


/* Basic sample */

//body{
//  overflow:hidden;
//  background-color:#fcfcfc;
//  margin:0;
//  padding:0;
//}

.flipbook-viewport{
  position: relative;
  overflow:hidden;
  width:100vw;
  height:134vw;
  margin-top: 0.2rem;
  background: url("../images/book-bg.png") no-repeat;
  background-size: 100%;
}

.flipbook-viewport .container{
  position:absolute;
  @include size(6.16rem,9.2rem);
  top: 0;
  left: 0.58rem;
}

.flipbook-viewport .flipbook{
  /*width:922px;*/
  /*height:600px;*/
  /*left:-461px;*/
  /*top:-300px;*/
  margin: 0 auto;
}

.flipbook-viewport .page{
 @include size(6.16rem,9.2rem);
  //background-repeat:no-repeat;
  //background-size:cover;
  //background-position: center;
}

.flipbook .page{
  -webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
  -moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
  -ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
  -o-box-shadow:0 0 20px rgba(0,0,0,0.2);
  box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.flipbook-viewport .page img{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin:0;
}

.flipbook-viewport .shadow{
  //-webkit-transition: -webkit-box-shadow 0.5s;
  //-moz-transition: -moz-box-shadow 0.5s;
  //-o-transition: -webkit-box-shadow 0.5s;
  //-ms-transition: -ms-box-shadow 0.5s;
  //
  //-webkit-box-shadow:0 0 20px #ccc;
  //-moz-box-shadow:0 0 20px #ccc;
  //-o-box-shadow:0 0 20px #ccc;
  //-ms-box-shadow:0 0 20px #ccc;
  //box-shadow:0 0 20px #ccc;
}


/*fixed*/
.fixed-block{
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 1.8rem;
  //background: #e8c9e1;
}
.arrow{
  position: absolute;
  bottom: 0.8rem;
  //padding: 1vh;
  @include size(0.73rem,0.52rem);
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100%;
  text-indent: -999em;
}
.disabled{
  //opacity: 0.6;
  color: #333;
}
.arrow-left{
  left: 0.5rem;
  background-image: url("../images/arrow-left.png");
}
.arrow-right{
  //float: right;
  right: 0.5rem;
  background-image: url("../images/arrow-right.png");
}
.btn-play-audio{
  position: absolute;
  left: 50%;
  bottom: 0.6rem;
  margin-left: -1.95rem;
  @include size(3.91rem,1.02rem);
  background: url("../images/btn-audio.png") no-repeat;
  background-size: 100%;
  &.hu{
    background-position: 0 100%;
  }
  .icon-audio{
    content: '';
    display: block;
    @include size(0.47rem,0.39rem);
    background: url("../images/audio.png") no-repeat;
    background-size: 100%;
    position: absolute;
    top: 0.26rem;
    left: 0.38rem;
    &.play{
      @include animation(aniAudio steps(2) 1s infinite);
      @include keyframes(aniAudio){
        0%{
          background-position:0 0;
        }
        50%{
          //background-position:0 100%;
        }
        100%{
          background-position:0 100%;

        }
      }
    }
  }
}

//for pin-prize
#pin-prize{
  .p3-img{
    height: calc(100vh - 5rem);
    margin: 0.5rem auto;
    img{
      width: auto;
      height: 100%;
      max-height: 7.29rem;
      margin: 0 auto;
    }
  }
  .p3-btns{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    .btn{
      background: url("../images/p3-btn-1.png") no-repeat;
      background-size: 100%;
      text-indent: -999em;
      &.btn-hou{
        background-position: 0 0;
      }
      &.btn-hu{
        background-position: 0 50%;
      }
      &.btn-buy{
        background-position: 0 100%;
      }
    }
  }
  .link-share{
    width: 3.91rem;
    margin: 0 auto;
    text-align: center;
    font-size: 0.28rem;
    color: #292929;
    text-decoration: underline;
  }
}

//for pin-prize-details
#pin-prize-details{
  .p4-1{
    height: calc(100vh - 4rem);
    margin: 0.5rem auto;
    img{
      width: auto;
      height: 100%;
      max-height: 8.58rem;
      margin: 0 auto;
    }
  }
  .btn{
    //btn-prize-details.png
    background: url("../images/btn-prize-details.png") no-repeat;
    background-size: 100%;
    text-indent: -999em;
    &.sellout{
      background-position: 0 100%;
    }
  }
}